/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* ANIMATIONS */
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slide_right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translate(0);
    }
}
@keyframes slide_left {
    from {
        transform: translateX(-10%);
    }
    to {
        transform: translate(0);
    }
}
@keyframes slide_top {
    from {
        transform: translateY(-25%);
    }
    to {
        transform: translate(0);
    }
}
@keyframes slide_bottom {
    from {
        transform: translateY(25%);
    }
    to {
        transform: translate(0);
    }
}

/* GLOBAL VARIABLES */
:root {
    --violet: hsl(257, 40%, 49%);
    --magenta: hsl(300, 69%, 71%);
    --background-image: url("images/bg-desktop.svg");
} @media screen and (max-width: 1200px) {
    :root {
        --background-image: url("images/bg-mobile.svg");
    }
}

* {
    margin: 0;
    padding: 0;

    font-family: Poppins;
}

html, body, header, main, section, footer {
    box-sizing: border-box;
}

body {
    background: var(--background-image) var(--violet);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
} @media screen and (max-width: 1200px) {
    body {
        overflow: auto;
    }    
}
header {
    animation: fade 1s, slide_left 1s;

    padding: 3rem;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    width: 80%;
    margin: auto;
} @media screen and (max-width: 1200px) {
    main {
        flex-direction: column;
        width: 100%;
    }
}
main #left {
    animation: fade 1s, slide_bottom 1s;

    padding: 2rem;
}
main #right {
    animation: fade 1s, slide_top 1s;

    color: white;
    padding: 2rem;
} @media screen and (max-width: 1200px) {
    main #right {
        text-align: center;
    }
}
main #right h1 {
    font-size: 2rem;
    font-weight: 600;
} @media screen and (max-width: 1300px) {
    main #right h1 {
        font-size: 1.5rem;
    }
}
main #right p {
   font-size: 1em;
   font-weight: 400;
}
main #right button {
    color: var(--violet);
    background-color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 1rem 6rem;
    border: 0;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px 2px black;
    transition: all 0.1s;
}
main #right button:hover {
    color: white;
    background-color: var(--magenta);
    transform: translateY(-5%);
}
main #right button:active {
    transform: translate(0);
}

footer {
    display: flex;
    justify-content: space-evenly;

    width: 15rem;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    right: 0;  
} @media screen and (max-width: 1200px) {
    footer {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
    }
}

footer img {
    height: 1rem;
    width: 1rem;

    padding: 0.75rem;
    margin: auto 0.5rem auto 0.5rem;

    border: 1px solid white;
    border-radius: 50%;
}

#facebook {
    animation: fade 1s, slide_right 1s;
}
#twitter {
    animation: fade 1.5s, slide_right 1.5s;
}
#instagram {
    animation: fade 2s, slide_right 2s;
}