#phone {
    height: 400px;
    width: 240px;
    background-color: black;
    border-radius: 20px;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
    box-shadow: 5px 5px 50px 5px hsl(218, 22%, 67%);
}
#phone_ {
    height: 380px;
    width: 220px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
}

header {
    background-color: blueviolet;
}